﻿
@{
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
    ViewBag.Title = "Anasayfa";
}


@*<section id="featured">*@
    <!-- start slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-pull-12">
                <!-- Slider -->
                @{
                    Html.RenderAction("SliderPartial", "Home");
                }
                <!-- end slider -->
            </div>
        </div>
    </div>
@*</section>*@
@*<section class="callaction">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="big-cta">
                        <div class="cta-text">
                            <h2><span>Moderna</span> HTML Business Template</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>*@


<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="box-image">
                    <img src="https://www.medibeautyklinik.com/wp-content/uploads/2021/06/1_Plastik-Cerrahi_600x400-540x371.jpg" class="br-3 float-md-start" alt="Plastik Cerrahi">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="box-content fs-15 pt-lg-0 pb-lg-0">
                    <h4 class="m-0 fs-20 fw-semibold">Plastik Cerrahi</h4>
                    <span class="bc-theme m-t-10 bw-top-3 bs-top-solid d-block w-20"></span>
                    <p>
                        <span style="font-weight: 400;">Plastik, estetik ve rekonstrüktif cerrahi, şekil ve işlev bozukluklarını düzelterek dış görünüşü değiştiren işlemlerin yapıldığı cerrahidir. Plastik cerrahide, yüz estetiği, vücut estetiği ve medikal estetik gibi bölümlerde cerrahi işlemler uygulanır. </span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">Kliniğimizde burun estetiği, yüz ve boyun germe, kaş kaldırma, göğüs estetiği, liposuction, karın germe, kol germe, dolgu, dudak dolgusu, akne izi tedavisi gibi birçok bölümde tedavi olabilirsiniz. Kullandığımız son teknoloji plastik cerrahi ekipmanları ve operasyon öncesi, sırası ve sonrası bakım ile sağlıklı ve genç bir görünüm kazanabilirsiniz.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="box-content fs-15 pt-lg-0 pb-lg-0">
                    <h4 class="m-0 fs-20 fw-semibold">Plastik Cerrahi</h4>
                    <span class="bc-theme m-t-10 bw-top-3 bs-top-solid d-block w-20"></span>
                    <p>
                        <span style="font-weight: 400;">Plastik, estetik ve rekonstrüktif cerrahi, şekil ve işlev bozukluklarını düzelterek dış görünüşü değiştiren işlemlerin yapıldığı cerrahidir. Plastik cerrahide, yüz estetiği, vücut estetiği ve medikal estetik gibi bölümlerde cerrahi işlemler uygulanır. </span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">Kliniğimizde burun estetiği, yüz ve boyun germe, kaş kaldırma, göğüs estetiği, liposuction, karın germe, kol germe, dolgu, dudak dolgusu, akne izi tedavisi gibi birçok bölümde tedavi olabilirsiniz. Kullandığımız son teknoloji plastik cerrahi ekipmanları ve operasyon öncesi, sırası ve sonrası bakım ile sağlıklı ve genç bir görünüm kazanabilirsiniz.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-image">
                    <img src="https://www.medibeautyklinik.com/wp-content/uploads/2021/06/1_Plastik-Cerrahi_600x400-540x371.jpg" class="br-3 float-md-end" alt="Plastik Cerrahi">
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="box-image">
                    <img src="https://www.medibeautyklinik.com/wp-content/uploads/2021/06/1_Plastik-Cerrahi_600x400-540x371.jpg" class="br-3 float-md-start" alt="Plastik Cerrahi">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="box-content fs-15 pt-lg-0 pb-lg-0">
                    <h4 class="m-0 fs-20 fw-semibold">Plastik Cerrahi</h4>
                    <span class="bc-theme m-t-10 bw-top-3 bs-top-solid d-block w-20"></span>
                    <p>
                        <span style="font-weight: 400;">Plastik, estetik ve rekonstrüktif cerrahi, şekil ve işlev bozukluklarını düzelterek dış görünüşü değiştiren işlemlerin yapıldığı cerrahidir. Plastik cerrahide, yüz estetiği, vücut estetiği ve medikal estetik gibi bölümlerde cerrahi işlemler uygulanır. </span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">Kliniğimizde burun estetiği, yüz ve boyun germe, kaş kaldırma, göğüs estetiği, liposuction, karın germe, kol germe, dolgu, dudak dolgusu, akne izi tedavisi gibi birçok bölümde tedavi olabilirsiniz. Kullandığımız son teknoloji plastik cerrahi ekipmanları ve operasyon öncesi, sırası ve sonrası bakım ile sağlıklı ve genç bir görünüm kazanabilirsiniz.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="box-content fs-15 pt-lg-0 pb-lg-0">
                    <h4 class="m-0 fs-20 fw-semibold">Plastik Cerrahi</h4>
                    <span class="bc-theme m-t-10 bw-top-3 bs-top-solid d-block w-20"></span>
                    <p>
                        <span style="font-weight: 400;">Plastik, estetik ve rekonstrüktif cerrahi, şekil ve işlev bozukluklarını düzelterek dış görünüşü değiştiren işlemlerin yapıldığı cerrahidir. Plastik cerrahide, yüz estetiği, vücut estetiği ve medikal estetik gibi bölümlerde cerrahi işlemler uygulanır. </span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">Kliniğimizde burun estetiği, yüz ve boyun germe, kaş kaldırma, göğüs estetiği, liposuction, karın germe, kol germe, dolgu, dudak dolgusu, akne izi tedavisi gibi birçok bölümde tedavi olabilirsiniz. Kullandığımız son teknoloji plastik cerrahi ekipmanları ve operasyon öncesi, sırası ve sonrası bakım ile sağlıklı ve genç bir görünüm kazanabilirsiniz.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-image">
                    <img src="https://www.medibeautyklinik.com/wp-content/uploads/2021/06/1_Plastik-Cerrahi_600x400-540x371.jpg" class="br-3 float-md-end" alt="Plastik Cerrahi">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="box-image">
                    <img src="https://www.medibeautyklinik.com/wp-content/uploads/2021/06/1_Plastik-Cerrahi_600x400-540x371.jpg" class="br-3 float-md-start" alt="Plastik Cerrahi">
                </div>
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <div class="box-content fs-15 pt-lg-0 pb-lg-0">
                    <h4 class="m-0 fs-20 fw-semibold">Plastik Cerrahi</h4>
                    <span class="bc-theme m-t-10 bw-top-3 bs-top-solid d-block w-20"></span>
                    <p>
                        <span style="font-weight: 400;">Plastik, estetik ve rekonstrüktif cerrahi, şekil ve işlev bozukluklarını düzelterek dış görünüşü değiştiren işlemlerin yapıldığı cerrahidir. Plastik cerrahide, yüz estetiği, vücut estetiği ve medikal estetik gibi bölümlerde cerrahi işlemler uygulanır. </span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">Kliniğimizde burun estetiği, yüz ve boyun germe, kaş kaldırma, göğüs estetiği, liposuction, karın germe, kol germe, dolgu, dudak dolgusu, akne izi tedavisi gibi birçok bölümde tedavi olabilirsiniz. Kullandığımız son teknoloji plastik cerrahi ekipmanları ve operasyon öncesi, sırası ve sonrası bakım ile sağlıklı ve genç bir görünüm kazanabilirsiniz.</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="box">
        <div class="row">
            <div class="col-md-6">
                <div class="box-content fs-15 pt-lg-0 pb-lg-0">
                    <h4 class="m-0 fs-20 fw-semibold">Plastik Cerrahi</h4>
                    <span class="bc-theme m-t-10 bw-top-3 bs-top-solid d-block w-20"></span>
                    <p>
                        <span style="font-weight: 400;">Plastik, estetik ve rekonstrüktif cerrahi, şekil ve işlev bozukluklarını düzelterek dış görünüşü değiştiren işlemlerin yapıldığı cerrahidir. Plastik cerrahide, yüz estetiği, vücut estetiği ve medikal estetik gibi bölümlerde cerrahi işlemler uygulanır. </span>
                    </p>
                    <p>
                        <span style="font-weight: 400;">Kliniğimizde burun estetiği, yüz ve boyun germe, kaş kaldırma, göğüs estetiği, liposuction, karın germe, kol germe, dolgu, dudak dolgusu, akne izi tedavisi gibi birçok bölümde tedavi olabilirsiniz. Kullandığımız son teknoloji plastik cerrahi ekipmanları ve operasyon öncesi, sırası ve sonrası bakım ile sağlıklı ve genç bir görünüm kazanabilirsiniz.</span>
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box-image">
                    <img src="https://www.medibeautyklinik.com/wp-content/uploads/2021/06/1_Plastik-Cerrahi_600x400-540x371.jpg" class="br-3 float-md-end" alt="Plastik Cerrahi">
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<div class="section p-t-20 p-b-10 p-t-lg-30 p-b-lg-30 " id="xguaranty_section">
    <div class="container">
        <div class="row" id="guaranties_collapse">
            <div class="col-sm-4">
                <div class="box bg-white bg-sh-sm br-3 m-b-35" data-boxcollapse="boxCollapse854">
                    <div class="box-image br-3 image-animate ov-h text-center">
                        <img class="lazyload align-middle" src="https://www.medibeautyklinik.com/wp-content/uploads/2019/05/1_Biz_Her_Seyi_Düsündük_600x400-255x175.jpg" alt="">
                    </div>
                    <div class="box-content text-center br-3 box-content-fixed">
                        <h3 class="box-title fw-bold text-center">Biz Her Şeyi Düşündük!</h3>
                        <p class="text-center">Klinik olarak sizlerin sağlıklı ve konforlu bir tedavi süreci geçirmenizi sağlamak bizim önceliğimiz olduğundan sizleri hiçbir aşamada yalnız bırakmıyoruz.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box bg-white bg-sh-sm br-3 m-b-35" data-boxcollapse="boxCollapse852">
                    <div class="box-image br-3 image-animate ov-h text-center">
                        <img class="lazyload align-middle" src="https://www.medibeautyklinik.com/wp-content/uploads/2019/05/2_Tedavide_Güven-255x175.jpg" alt="">
                    </div>
                    <div class="box-content text-center br-3 box-content-fixed">
                        <h3 class="box-title fw-bold text-center">Tedavide Güven</h3>
                        <p class="text-center">Tüm tedavilerimiz, Sağlık Bakanlığı tarafından onaylı, hiçbir katkı maddesi içermeyen ve sadece doktorlar tarafından satın alınabilen ürünlerle gerçekleştirilmektedir.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box bg-white bg-sh-sm br-3 m-b-35" data-boxcollapse="boxCollapse5142">
                    <div class="box-image br-3 image-animate ov-h text-center">
                        <img class="lazyload align-middle" src="https://www.medibeautyklinik.com/wp-content/uploads/2019/05/3_Son_Teknoloji_Ekipmanlar-255x175.jpg" alt="">
                    </div>
                    <div class="box-content text-center br-3 box-content-fixed">
                        <h3 class="box-title fw-bold text-center">İleri Teknoloji Ekipmanlar</h3>
                        <p class="text-center">Kliniğimizde tedavi ve iyileşme sürecini rahat ve kolay hale getirmek için ileri teknoloji cihazlar ve mikrocerrahi aletler kullanılmaktadır.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<section id="content">
    <div class="container">
        @*<div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Daha Fazla Deneyim</h4>
                                    <div class="icon">
                                        <i class="fa-solid fa-notes-medical"></i>
                                    </div>
                                    <p>
                                        20 Yıldır sizlere hizmet vermekteyiz.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Doğru Cevaplar</h4>
                                    <div class="icon">
                                        <i class="fa-solid fa-hospital"></i>
                                    </div>
                                    <p>
                                        ak ettiğiniz ve güvenebileceğiniz yanıtları ve güvenceyi alın.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>Eşsiz Uzmanlık</h4>
                                    <div class="icon">
                                        <i class="fa-solid fa-laptop-medical"></i>
                                    </div>
                                    <p>
                                        Hak ettiğiniz uzman bakımı aldığınızdan şüpheniz olmasın.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>İletişime Geçin</h4>
                                    <div class="icon">
                                        <i class="fa-solid fa-hospital-user"></i>
                                    </div>
                                    <p>
                                        Aradığınız cevaplar için iletişime geçin.
                                    </p>

                                </div>
                                <div class="box-bottom">
                                    <a href="#">Learn more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <!-- divider -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="solidline">
                    </div>
                </div>
            </div>
            <!-- end divider -->
            <!-- Portfolio Projects -->
            <div class="row">

                <div class="col-lg-12">
                    <h4 class="heading">Hizmetlerimiz</h4>
                    <div class="row">
                        <section id="projects">
                            <ul id="thumbs" class="portfolio">
                                @foreach (var item in ViewBag.Hizmetler)
                                {
                                    <!-- Item Project and Filter Name -->
                                    <li class="col-lg-3 design" data-id="id-0" data-type="web">
                                        <div class="item-thumbs">
                                            <!-- Fancybox - Gallery Enabled - Title - Full Image -->
                                            <a class="hover-wrap fancybox" data-fancybox-group="gallery" title="@item.Baslik" href="@item.ResimURL">


                                                <span class="overlay-img"></span>
                                                <span class="overlay-img-thumb font-icon-plus"></span>
                                            </a>
                                            <!-- Thumb Image and Description -->
                                            <img src="@item.ResimURL" alt="@item.Aciklama">
                                        </div>
                                    </li>

                                }



                            </ul>
                        </section>
                    </div>

                </div>

            </div>

        </div>
</section>

